ques 1_ create a python programme to sort the given list of tuples based on integer value using a lambda function.

In [7]:
l = [("sachin tendulkar",34357),("rickey ponting",27483),("jack kallis",25534),("virat kohli",24936)]

In [8]:
a = lambda l : l.sort

In [9]:
l

[('sachin tendulkar', 34357),
 ('rickey ponting', 27483),
 ('jack kallis', 25534),
 ('virat kohli', 24936)]

ques 2_ write a python programme to find the square of all the numbers in the given list of integers using lambda and map functions

In [10]:
l1 = [1,2,3,4,5,6,7,8,9,10]

In [11]:
list(map(lambda x : x**2 , l1))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

ques 3_write a python programme to convert the given list of integers into a tuple of strings. use map and lambda function

In [16]:
s = [1,2,3,4,5,6,7,8,9,10]

In [28]:
list(map(lambda x: str(x),s))

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

ques 4_ write a python programme using a reduce function to compute the product of a list containing number from 1 to 25

In [29]:
from functools import reduce

In [33]:
l2 = list(range(1,26))

In [34]:
l2

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [35]:
reduce(lambda x,y : x+y , l2)

325

ques 5_ write a python programme to filter the numbers in a given list that are divisible by 2 and 3 using the filter functions

In [36]:
l3 = [2,3,6,9,27,60,90,120,55,46]

In [38]:
list(filter(lambda x: x%2==0,l3))

[2, 6, 60, 90, 120, 46]

In [39]:
list(filter(lambda x: x%3==0,l3))

[3, 6, 9, 27, 60, 90, 120]

ques 6_ write a python to find palindromes in a given list of strings using lambda and filter function

In [40]:
l4 = ["python","php","aba","radar","level"]

In [48]:
list(filter(lambda x: x == x[::-1] , l4))

['php', 'aba', 'radar', 'level']